@model SELORG.Models.PostCategory
@{
    Layout = "../../Views/Shared/_admin.cshtml";
}

 <div class="content-wrapper">   

    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Update Post Category</div>
      <div class="card-body">
        <form id="addformcategory" method="post" action="../../admin/updatepostcategory">
       
            <div class="form-group">
            
            <input class="form-control" id="id" name="id" value="@Model.CategoryId" required type="text" aria-describedby="emailHelp" hidden>
          </div>

          <div class="form-group">
            <label for="Title">Title of Category</label>
            <input class="form-control" id="Title" name="title" value="@Model.CategoryTitle" required type="text" aria-describedby="emailHelp" placeholder="Enter Title">
          </div>

        <div class="form-group">
            <label for="Title">isDeleted</label>
            <select name="isDeleted" id="getDeleted" required class="form-control"><option value="0">No.</option><option value="1">Yes.</option></select>
            <input id="isDeleted" value="@Model.isDeleted" hidden/>
           
          </div>
          <p id="resultform"></p>
          <button id="submitform" class="btn btn-primary btn-block"  type="submit">Update</button>
        </form>
            <button id="cancel" class="btn btn-default btn-block"  type="submit"><a href="../../admin/postcategories">Cancel</a></button>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->



<script type="text/javascript">


    $(document).ready(function () {
        //$('#checking').hide(); 
        $("#addformcategory").submit(function (e) { e.preventDefault() });

        $('#submitform').click(function () {

            var Title = $('#Title').val();
            if ($('#getDeleted').val() == $('#isDeleted').val()) {
                $.post("/admin/isPostCategoryExists?title=" + Title, function (data) {
                    if (data == "y") {
                        $("#resultform").html("This category already exists.")
                        $("#resultform").show();
                        $("#addformcategory").submit(function (e) { e.preventDefault() });
                    } else {
                        $("#resultform").hide();
                        // alert("b");
                        $("#addformcategory").unbind('submit').submit()
                        //alert("a");
                    }

                });
            } else {
                $("#addformcategory").unbind('submit').submit()
            }

        });


    });
    </script>