<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
		<div class="col-md-8 content-left">
			 
		 <div class="newsletter" style="border:grey solid 2px">
					<h1 class="side-title-head">Add me as Librarian:</h1>
	                  <form method="post" action="../../professionals/add_professional" style="width:98%; margin-left:3%" id="basicBootstrapForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Full name:</label>
                            
                            <div class="col-xs-8">
                                <input type="text" style="color:black" required class="form-control" name="name" placeholder="Your Name" />
                            </div>
                        </div>

                          <div class="form-group">
                            <label class="col-xs-3 control-label">Designation:</label>
                            <div class="col-xs-8">
                                <input type="text" style="color:black" required class="form-control" name="designation" placeholder="Your Designation" />
                            </div>
                        </div>

                            <div class="form-group">
                            <label class="col-xs-3 control-label">Qualification:</label>
                            <div class="col-xs-8">
                                <input type="text" style="color:black" required class="form-control" name="qualification" placeholder="Your Qualification" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Email address:</label>
                            <div class="col-xs-6">
                                <input type="email" id="emailID" style="color:black" required class="form-control" name="email" placeholder="Your Email" />
                                  <p hidden id="librarianExists"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">Phone #:</label>
                            <div class="col-xs-8">
                                <input type="text" style="color:black" class="form-control" name="contact" placeholder="Your Contact"/>
                              
                            </div>
                        </div>

                      <div class="form-group">
                            <label class="col-xs-3 control-label">Organization:</label>
                            <div class="col-xs-8">
                                <input type="text" style="color:black" required class="form-control" name="libraryname" placeholder="Your Library" />
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-xs-3 control-label">Area of Specialization:</label>
                            <div class="col-xs-6">
                                <textarea name="Specialization" style="height:6%"  class="form-control" placeholder="Your Specialization" ></textarea>
                                
                                <p style="font-size:12px">SemiColon ';' separated</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Publications:</label>
                            <div class="col-xs-6">
                                <textarea name="Publications" style="height:6%"  class="form-control" placeholder="Your Publications" ></textarea>
                                
                                <p style="font-size:12px">SemiColon ';' separated</p>
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="col-xs-3 control-label">Associated with any Organization:</label>
                            <div class="col-xs-6">
                                <textarea name="ProfessionalAssosiation" style="height:6%"  class="form-control" placeholder="Your Professional Assosiation" ></textarea>
                                
                                <p style="font-size:12px">SemiColon ';' separated</p>
                            </div>
                        </div>
                           <div class="form-group">
                            <label class="col-xs-3 control-label">Professional Contribution:</label>
                            <div class="col-xs-6">
                                <textarea name="ProfessionalContribution" style="height:6%"  class="form-control" placeholder="Your Professional Contribution" ></textarea>
                                
                                <p style="font-size:12px">SemiColon ';' separated</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label ">Complete Address:</label>
                            <div class="col-xs-6">
                                <textarea style="height:6%" required class="form-control" name="firstaddress" placeholder="Street/Block" ></textarea>
                           </div>
                            <br />
                           <div class="form-group col-xs-3" style="margin-left:25%">
                                <input type="text"  style="color:black" required class="form-control "  name="city" placeholder="City/State" />                     
                                <input type="text" style="color:black" required class="form-control "  name="country" placeholder="Country" />                     
                         
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input required type="checkbox" name="agree" value="agree" /> Agree with the <a href="../../home/terms_n_conditions">terms</a> and <a href="../../home/terms_n_conditions">conditions</a>.
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-9 col-xs-offset-3">
                                <button type="submit" class="btn btn-primary" id="addme" name="addme" value="Sign up">Add Me</button>
                            </div>
                        </div>
                    </form>

				</div>

 
		     @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")
				</div>
	            @Html.Partial("/Views/Shared/recentposts.cshtml")
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->





<script type="text/javascript">


        $(document).ready(function () {
            //$('#checking').hide();

          
            $('#emailID').change(function () {

                var Email = $('#emailID').val();


                $.post("/professionals/CheckLibrariansName?email=" + Email, function (data) {
                    if (data == "y") {
                        $("#librarianExists").html("You have already used this email.\nPlease use an other email.")
                        $("#addme").hide();
                        $("#librarianExists").show();
                    } else {
                        $("#addme").show();
                        $("#librarianExists").hide();
                    }

                });

            });

            
         

         
             
            var defaults = {
                wrapID: 'toTop', // fading element id
                wrapHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>