@{
    Layout = null;
}
<html>
<head>
    <link rel="shortcut icon" href="../../Content/client/images/logo1.png" type="image/x-icon" />
    <title>Sada-e-Librarian</title>

</head> 
<body>
<iframe src = "../../Files/Magazine/1.pdf" style="width:100%; height:100%">
         Sorry your browser does not support inline frames.
      </iframe>
    </body>

    </html>