@{
    ViewBag.Title = "about_us";
}

    <!-- content-section-starts-here -->
<div class="main-body">
    <div class="wrap">
        <div class="col-md-8 content-left">
           
            <div class="articles" style="margin-top:-2%">
                <header>
                    <h3 class="title-head">Introduction</h3>
                </header>
                <div class="article" >
                   
                   
                        
                        <div class="article-text" style="margin-top:-5%">
                            <p style="color:black; font-size:18px ">Sada-e-librarian is like the little swallow who approached to put off the Namrood’s fire
                             with a few drops of water in his beak. Someone questioned, how could these few drops
                             put the Namrood’s fire off. He answered, the fire would not be put off by these drops of water. 
                            But this effort will surely make me one of the beloved of Hazrad Ibraheem (A.S) on the day of judgement. 
                            Likewise our effort will neither bring any revolution to Pakistani librarianship nor we wish to do so.
                             It is just an effort in the footsteps of that little swallow’s way of thinking.

                        Sada-e-librarian is not a representative of either any professional association or any political group
                             and is not having such future plan. This effort is only for library professionals. Its aim is to 
                            provide them material for fulfilment of their educational devotion and information about their profession. 
                            It also represents that good English speaking skills and higher degrees are not conditioned for wise and
                             intellectual conversation. As the wisdom and intellect reveals the experience and mystical insight of man.
                             Which is not earned from the learning institutions and university degrees but is the evidence of the benefit
                             of some wise mentor. It may be the most bitter and unforgettable lesson learnt from the hurdles of life. 
                            It is also the evidence, if you are sincere and have passion to help others, you can do anything inspite of 
                            not having resources.</p>
                          
                            <div class="clearfix"></div>
                            <hr>
                           <!-- <p>Sada-e-librarian is providing the following services for library professionals:</p>
                            <ul style="margin-left:5%">
                                <li>
                                    Pakistan’s first online quarterly Urdu magazine <strong >“Sada-e-librarian”</strong>.
                                </li>
                                <li>
                                The first online directory of Pakistani librarians <strong>“Sada-e-librarian Directory of Pakistani Library Professionals”.</strong>
                                    </li>
                                <li>
                                    The first online directory  of library suppliers named  <strong>“Sada-e-librarian Directory of Publishers & Library Suppliers”.</strong>
                                    </li>
                                <li>
                                       <strong>“Database”</strong> of research on Mphil and phD level in Pakistan.
                                    </li>
                                <li>
                                    <strong>“Advertisements of New Jobs”</strong> to help the newcomers in profession to find jobs.
                                    </li>
                                <li>
                                    <strong>“Links of Softwares”</strong> used in libraries.
                                    </li>
                            </ul>-->
                        </div>
                     
                    <div class="clearfix"></div>
                </div>
            
            </div>
         @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")
        </div>
           @Html.Partial("/Views/Shared/recentposts.cshtml")
        <div class="clearfix"></div>
    </div>
</div>
<!-- content-section-ends-here -->



