    <!-- content-section-starts-here -->
<div class="main-body">
    <div class="wrap">
        <div class="col-md-8 content-left">
            
             
             <div class="sports-top" style="border:1px solid grey; padding-left:3%; padding-bottom:2%">
               
                  <div   style="margin-top:2%">
                                
                                <a class="power" href="single.html" style="color:blue">It isefgbsdkjfb dfgvk hsdfgsdfugy sdufgsdfgsdfgksdfygu a long established fact that a reader</a>
                                Sada-e-librarian is like the little swallow who approached to put off the Namrood’s fire
                             with a few drops of water in his beak. Someone questioned, how could these few drops
                             put the Namrood’s fire off. He answered, the fire would not be put off by these drops of water. 
                            But this effort will surely make me one of the beloved of Hazrad Ibraheem (A.S) on the day of judgement. 
                            Likewise our effort will neither bring any revolution to Pakistani librarianship nor we wish to do so.
                             It is just an effort in the footsteps of that little swallow’s way of thinking.

                        Sada-e-librarian is not a representative of either any professional association or any political group
                             and is not having such future plan. This effort is only for library professionals. Its aim is to 
                            provide them material for fulfilment of their educational devotion and information about their profession. 
                            It also represents that good English speaking skills and higher degrees are not conditioned for wise and
                             intellectual conversation. As the wisdom and intellect reveals the experience and mystical insight of man.
                             Which is not earned from the learning institutions and university degrees but is the evidence of the benefit
                             of some wise mentor. It may be the most bitter and unforgettable lesson learnt from the hurdles of life. 
                            It is also the evidence, if you are sincere and have passion to help others, you can do anything inspite of 
                            not having resources. 
                                 
                                <div class="clearfix"></div>
                            </div>
                       
                <div class="clearfix"></div>
            </div>
                 <div class="sports-top" style="border:1px solid grey; padding-left:3%; padding-bottom:2%">
               
                  <div   style="margin-top:2%">
                                
                                <a class="power" href="single.html" style="color:blue">It isefgbsdkjfb dfgvk hsdfgsdfugy sdufgsdfgsdfgksdfygu a long established fact that a reader</a>
                                Sada-e-librarian is like the little swallow who approached to put off the Namrood’s fire
                             with a few drops of water in his beak. Someone questioned, how could these few drops
                             put the Namrood’s fire off. He answered, the fire would not be put off by these drops of water. 
                            But this effort will surely make me one of the beloved of Hazrad Ibraheem (A.S) on the day of judgement. 
                            Likewise our effort will neither bring any revolution to Pakistani librarianship nor we wish to do so.
                             It is just an effort in the footsteps of that little swallow’s way of thinking.

                        Sada-e-librarian is not a representative of either any professional association or any political group
                             and is not having such future plan. This effort is only for library professionals. Its aim is to 
                            provide them material for fulfilment of their educational devotion and information about their profession. 
                            It also represents that good English speaking skills and higher degrees are not conditioned for wise and
                             intellectual conversation. As the wisdom and intellect reveals the experience and mystical insight of man.
                             Which is not earned from the learning institutions and university degrees but is the evidence of the benefit
                             of some wise mentor. It may be the most bitter and unforgettable lesson learnt from the hurdles of life. 
                            It is also the evidence, if you are sincere and have passion to help others, you can do anything inspite of 
                            not having resources. 
                                 
                                <div class="clearfix"></div>
                            </div>
                       
                <div class="clearfix"></div>
            </div>
                <div class="sports-top" style="border:1px solid grey; padding-left:3%; padding-bottom:2%">
               
                  <div   style="margin-top:2%">
                                
                                <a class="power" href="single.html" style="color:blue">It isefgbsdkjfb dfgvk hsdfgsdfugy sdufgsdfgsdfgksdfygu a long established fact that a reader</a>
                                Sada-e-librarian is like the little swallow who approached to put off the Namrood’s fire
                             with a few drops of water in his beak. Someone questioned, how could these few drops
                             put the Namrood’s fire off. He answered, the fire would not be put off by these drops of water. 
                            But this effort will surely make me one of the beloved of Hazrad Ibraheem (A.S) on the day of judgement. 
                            Likewise our effort will neither bring any revolution to Pakistani librarianship nor we wish to do so.
                             It is just an effort in the footsteps of that little swallow’s way of thinking.

                        Sada-e-librarian is not a representative of either any professional association or any political group
                             and is not having such future plan. This effort is only for library professionals. Its aim is to 
                            provide them material for fulfilment of their educational devotion and information about their profession. 
                            It also represents that good English speaking skills and higher degrees are not conditioned for wise and
                             intellectual conversation. As the wisdom and intellect reveals the experience and mystical insight of man.
                             Which is not earned from the learning institutions and university degrees but is the evidence of the benefit
                             of some wise mentor. It may be the most bitter and unforgettable lesson learnt from the hurdles of life. 
                            It is also the evidence, if you are sincere and have passion to help others, you can do anything inspite of 
                            not having resources. 
                                 
                                <div class="clearfix"></div>
                            </div>
                       
                <div class="clearfix"></div>
            </div>
                <div class="sports-top" style="border:1px solid grey; padding-left:3%; padding-bottom:2%">
               
                  <div   style="margin-top:2%">
                                
                                <a class="power" href="single.html" style="color:blue">It isefgbsdkjfb dfgvk hsdfgsdfugy sdufgsdfgsdfgksdfygu a long established fact that a reader</a>
                                Sada-e-librarian is like the little swallow who approached to put off the Namrood’s fire
                             with a few drops of water in his beak. Someone questioned, how could these few drops
                             put the Namrood’s fire off. He answered, the fire would not be put off by these drops of water. 
                            But this effort will surely make me one of the beloved of Hazrad Ibraheem (A.S) on the day of judgement. 
                            Likewise our effort will neither bring any revolution to Pakistani librarianship nor we wish to do so.
                             It is just an effort in the footsteps of that little swallow’s way of thinking.

                        Sada-e-librarian is not a representative of either any professional association or any political group
                             and is not having such future plan. This effort is only for library professionals. Its aim is to 
                            provide them material for fulfilment of their educational devotion and information about their profession. 
                            It also represents that good English speaking skills and higher degrees are not conditioned for wise and
                             intellectual conversation. As the wisdom and intellect reveals the experience and mystical insight of man.
                             Which is not earned from the learning institutions and university degrees but is the evidence of the benefit
                             of some wise mentor. It may be the most bitter and unforgettable lesson learnt from the hurdles of life. 
                            It is also the evidence, if you are sincere and have passion to help others, you can do anything inspite of 
                            not having resources. 
                                 
                                <div class="clearfix"></div>
                            </div>
                       
                <div class="clearfix"></div>
            </div>
                <div class="sports-top" style="border:1px solid grey; padding-left:3%; padding-bottom:2%">
               
                  <div   style="margin-top:2%">
                                
                                <a class="power" href="single.html" style="color:blue">It isefgbsdkjfb dfgvk hsdfgsdfugy sdufgsdfgsdfgksdfygu a long established fact that a reader</a>
                                Sada-e-librarian is like the little swallow who approached to put off the Namrood’s fire
                             with a few drops of water in his beak. Someone questioned, how could these few drops
                             put the Namrood’s fire off. He answered, the fire would not be put off by these drops of water. 
                            But this effort will surely make me one of the beloved of Hazrad Ibraheem (A.S) on the day of judgement. 
                            Likewise our effort will neither bring any revolution to Pakistani librarianship nor we wish to do so.
                             It is just an effort in the footsteps of that little swallow’s way of thinking.

                        Sada-e-librarian is not a representative of either any professional association or any political group
                             and is not having such future plan. This effort is only for library professionals. Its aim is to 
                            provide them material for fulfilment of their educational devotion and information about their profession. 
                            It also represents that good English speaking skills and higher degrees are not conditioned for wise and
                             intellectual conversation. As the wisdom and intellect reveals the experience and mystical insight of man.
                             Which is not earned from the learning institutions and university degrees but is the evidence of the benefit
                             of some wise mentor. It may be the most bitter and unforgettable lesson learnt from the hurdles of life. 
                            It is also the evidence, if you are sincere and have passion to help others, you can do anything inspite of 
                            not having resources. 
                                 
                                <div class="clearfix"></div>
                            </div>
                       
                <div class="clearfix"></div>
                    <div class="response">
					<h4>Responses</h4>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img class="media-object" src="../../Content/client/images/c1.jpg" alt=""/>
							</a>
							<h5><a href="#">Username</a></h5>
						</div>
						<div class="media-body response-text-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<ul>
								<li>Sep 21, 2015</li>
								<li><a href="single.html">Reply</a></li>
							</ul>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img class="media-object" src="../../Content/client/images/c2.jpg" alt=""/>
									</a>
									<h5><a href="#">Username</a></h5>
								</div>
								<div class="media-body response-text-right">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<ul>
										<li>July 17, 2015</li>
										<li><a href="single.html">Reply</a></li>
									</ul>		
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img class="media-object" src="../../Content/client/images/c3.jpg" alt=""/>
							</a>
							<h5><a href="#">Username</a></h5>
						</div>
						<div class="media-body response-text-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<ul>
								<li>June 21, 2015</li>
								<li><a href="single.html">Reply</a></li>
							</ul>		
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img class="media-object" src="../../Content/client/images/c4.jpg" alt=""/>
							</a>
							<h5><a href="#">Username</a></h5>
						</div>
						<div class="media-body response-text-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<ul>
								<li>Mar 28, 2015</li>
								<li><a href="single.html">Reply</a></li>
							</ul>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img class="media-object" src="../../Content/client/images/c5.jpg" alt=""/>
									</a>
									<h5><a href="#">Username</a></h5>
								</div>
								<div class="media-body response-text-right">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<ul>
										<li>Feb 19, 2015</li>
										<li><a href="single.html">Reply</a></li>
									</ul>		
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="media response-info">
						<div class="media-left response-text-left">
							<a href="#">
								<img class="media-object" src="../../Content/client/images/c6.jpg" alt=""/>
							</a>
							<h5><a href="#">Username</a></h5>
						</div>
						<div class="media-body response-text-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<ul>
								<li>Jan 20, 2015</li>
								<li><a href="single.html">Reply</a></li>
							</ul>		
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>	
				<div class="coment-form">
					<h4>Leave your comment</h4>
					<form>
						<input type="text" value="Name " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
						<input type="email" value="Email (will not be published)*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="">
						<input type="text" value="Website" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" required="">
						<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">Your Comment...</textarea>
						<input type="submit" value="Submit Comment" >
					</form>
				</div>	
            </div>
        </div>
        <div class="col-md-4 side-bar">
            <div class="first_half">
                <div class="newsletter">
                    <h1 class="side-title-head">Newsletter</h1>
                    <p class="sign">Sign up to receive our free newsletters!</p>
                    <form>
                        <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
                        <input type="submit" value="submit">
                    </form>
                </div>
                <div class="list_vertical">
                    <section class="accordation_menu">
                        <div>
                            <input id="label-1" name="lida" type="radio" checked />
                            <label for="label-1" id="item1"><i class="ferme"> </i>Popular Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a1">
                                <div class="scrollbar" id="style-2">
                                    <div class="force-overflow">
                                        <div class="popular-post-grids">
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/bus2.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html"> The section of the mass media industry</a>
                                                    <p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/bus1.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html"> Lorem Ipsum is simply dummy text printing</a>
                                                    <p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/bus3.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html">There are many variations of Lorem</a>
                                                    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/bus4.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html">Sed ut perspiciatis unde omnis iste natus</a>
                                                    <p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input id="label-2" name="lida" type="radio" />
                            <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Recent Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a2">
                                <div class="scrollbar" id="style-2">
                                    <div class="force-overflow">
                                        <div class="popular-post-grids">
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/tec2.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html"> The section of the mass media industry</a>
                                                    <p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/tec1.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html"> Lorem Ipsum is simply dummy text printing</a>
                                                    <p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/tec3.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html">There are many variations of Lorem</a>
                                                    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="popular-post-grid">
                                                <div class="post-img">
                                                    <a href="single.html"><img src="../../Content/client/images/tec4.jpg" alt="" /></a>
                                                </div>
                                                <div class="post-text">
                                                    <a class="pp-title" href="single.html">Sed ut perspiciatis unde omnis iste natus</a>
                                                    <p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input id="label-3" name="lida" type="radio" />
                            <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>Comments<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a3">
                                <div class="scrollbar" id="style-2">
                                    <div class="force-overflow">
                                        <div class="response">
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="images/icon1.png" alt="" />
                                                    </a>
                                                    <h5><a href="#">Username</a></h5>
                                                </div>
                                                <div class="media-body response-text-right">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <ul>
                                                        <li>MARCH 21, 2015</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="images/icon1.png" alt="" />
                                                    </a>
                                                    <h5><a href="#">Username</a></h5>
                                                </div>
                                                <div class="media-body response-text-right">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <ul>
                                                        <li>MARCH 26, 2015</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="images/icon1.png" alt="" />
                                                    </a>
                                                    <h5><a href="#">Username</a></h5>
                                                </div>
                                                <div class="media-body response-text-right">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <ul>
                                                        <li>MAY 25, 2015</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="images/icon1.png" alt="" />
                                                    </a>
                                                    <h5><a href="#">Username</a></h5>
                                                </div>
                                                <div class="media-body response-text-right">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <ul>
                                                        <li>FEB 13, 2015</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="images/icon1.png" alt="" />
                                                    </a>
                                                    <h5><a href="#">Username</a></h5>
                                                </div>
                                                <div class="media-body response-text-right">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <ul>
                                                        <li>JAN 28, 2015</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="images/icon1.png" alt="" />
                                                    </a>
                                                    <h5><a href="#">Username</a></h5>
                                                </div>
                                                <div class="media-body response-text-right">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <ul>
                                                        <li>APR 18, 2015</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div class="media response-info">
                                                <div class="media-left response-text-left">
                                                    <a href="#">
                                                        <img class="media-object" src="images/icon1.png" alt="" />
                                                    </a>
                                                    <h5><a href="#">Username</a></h5>
                                                </div>
                                                <div class="media-body response-text-right">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <ul>
                                                        <li>DEC 25, 2014</li>
                                                        <li><a href="single.html">Reply</a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="side-bar-articles">
                    <div class="side-bar-article">
                        <a href="single.html"><img src="../../Content/client/images/sai.jpg" alt="" /></a>
                        <div class="side-bar-article-title">
                            <a href="single.html">Contrary to popular belief, Lorem Ipsum is not simply random text</a>
                        </div>
                    </div>
                    <div class="side-bar-article">
                        <a href="single.html"><img src="../../Content/client/images/sai2.jpg" alt="" /></a>
                        <div class="side-bar-article-title">
                            <a href="single.html">There are many variations of passages of Lorem</a>
                        </div>
                    </div>
                    <div class="side-bar-article">
                        <a href="single.html"><img src="../../Content/client/images/sai3.jpg" alt="" /></a>
                        <div class="side-bar-article-title">
                            <a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- content-section-ends-here -->